<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user -->
<!-- -->
<!-- For professional support please see -->
<!-- http://www.qos.ch/shop/products/professionalSupport -->
<!-- -->
<configuration>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{MM/dd HH:mm:ss.SSS} %5p | [%c{1}] %m%n</pattern>
		</encoder>
	</appender>
	<appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
		<discriminator>
			<key>jobId</key>
			<defaultValue>${HOST_NAME}</defaultValue>
		</discriminator>
		<sift>
			<appender name="FILE-${jobId}" class="ch.qos.logback.core.FileAppender">
				<file>/mnt/transkribus/logs/${appName}/job-${jobId}.log</file>
				<layout class="ch.qos.logback.classic.PatternLayout">
					<pattern>%d [%thread] %level %mdc %logger{35} - %msg%n</pattern>
				</layout>
			</appender>
		</sift>
	</appender>
	<logger name="org.apache" level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="SIFT" />
	</logger>
	<logger name="org.dea" level="DEBUG">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="SIFT" />
	</logger>
	<logger name="eu.transkribus" level="DEBUG">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="SIFT" />
	</logger>
	<logger name="org.quartz" level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="SIFT" />
	</logger>
</configuration>