<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration>
  <!-- Errors were reported during translation. -->
  <!-- No root logger configuration was found -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-5p %c - %m%n</pattern>
    </encoder>
  </appender>
  
  
  <root level="DEBUG">
  	<appender-ref ref="CONSOLE"/>
  </root>
  
  <logger name="org.apache" additivity="false" level="DEBUG">
    <appender-ref ref="CONSOLE"/>
  </logger>
  <logger name="org.apache.commons.beanutils" additivity="false" level="INFO">
  	<appender-ref ref="CONSOLE"/>
  </logger>
  <logger name="org.dea" additivity="false" level="DEBUG">
    <appender-ref ref="CONSOLE"/>
  </logger>
  <logger name="org.dea.transcript.trp.core.model.builder.TrpPageUnmarshalListener" additivity="false" level="INFO">
    <appender-ref ref="CONSOLE"/>
  </logger>
  <logger name="eu.transkribus.core.io" additivity="false" level="DEBUG">
    <appender-ref ref="CONSOLE"/>
  </logger>
</configuration>